//layout vars
$container-width: 1170px;

//colors
$black000: #000;
$black: #191919;
$dark-black: #1d1d1d;
$gray: #787878;
$lite-gray: #8e8e8e;
$white: #fff;

//layout
@import "layout/normalize";
@import "layout/adjustment";
@import "layout/fonts";

//sections
@import "sections/home";
@import "sections/about";
@import "sections/skills";
@import "sections/numbers";
@import "sections/work";
@import "sections/process";
@import "sections/services";
@import "sections/testimonials";
@import "sections/clients";
@import "sections/order";
@import "sections/last-section";

// media
@import "media/tv";
@import "media/desktop";
@import "media/laptop";
@import "media/tablets";
@import "media/phones";