.clients {
	height: 200px;
	padding-top: 65px;
}

.clients__list {
	width: 100%;
  text-align: justify;

  &:after {
		content:"";
		width: 100%;
		display: inline-block;
		height: 0px;
	}
}

.clients__item {
	display: inline-block;
	height: 72px;
	width: 130px;
	background: center center no-repeat;
	vertical-align: middle;
}

//цикл
@each $clients__item in (handmade, mountain, collection, mountainbike) {
	.clients__item_#{$clients__item} {
		background-image: url("../img/content/clients/#{$clients__item}.png");
	}
}
