.clients {
	padding: 65px 0 40px 0;
}

.clients__list {
	.owl-item {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.clients__item {
	height: 80px;
	width: 130px;
	background: center center no-repeat;
}

//цикл
@each $clients__item in (handmade, mountain, collection, mountainbike) {
	.clients__item_#{$clients__item} {
		background-image: url("../img/content/clients/#{$clients__item}.png");
	}
}
