.footer {
	padding: 85px 0;
	font-family: "nunito_sansregular";
	color: #bcbcbc;
	font-size: 15px;
	background-color: #141414;
}

.footer-body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.copyright {
	max-width: 240px;
}

.copyright__title {
	font-size: 18px;
	color: #fff;
	margin-bottom: 20px;
}

.copyright__text {
	line-height: 24px;
}

.contacts {
	display: flex;
	flex-direction: column;
}

.contacts__email,
.contacts__phone {
	font-family: "work_sansregular";
	text-decoration: none;
	color: #bcbcbc;

	&:hover {
		color: $white;
	}
}

.links {
	display: flex;
}

.links-column {
	margin-right: 30px;

	&:last-child {
		margin-right: 0;
	}
}

.links__link {
	display: block;
	text-decoration: none;
	color: #bcbcbc;

	&:hover {
		color: $white;
	}
}

.socials {
	display: flex;
	flex-direction: column;
}

.socials__link {
	text-decoration: none;
	color: #bcbcbc;

	&:hover {
		color: $white;
	}
}
