.numbers {
	padding: 85px 0;
	background-color: #10c9c3;
}

.numbers__list {
	width: 100%;
	text-align: justify;

	&:after {
		content: "";
		width: 100%;
		display: inline-block;
		height: 0px;
	}
}

.numbers__item {
	display: inline-block;
	color: $white;
}

.numbers__icon,
.numbers__info {
	display: inline-block;
}

.numbers__icon {
	height: 40px;
	width: 40px;
	margin-right: 28px;
	background: center center no-repeat;
}

//цикл
@each $numbers__icon in (portfolio, clock, star, like) {
	.numbers__icon_#{$numbers__icon} {
		background-image: url("../img/icons/#{$numbers__icon}.png");
	}
}

.numbers__amount {
	font-size: 18px;
}

.numbers__text {
	font-size: 12px;
	text-transform: uppercase;
}
