.order {
	padding: 85px 0;
	background-color: #f5f5f5;
	text-align: center;
}

.order__title {
	font-size: 30px;
	color: $dark-black;
	margin: 0 0 20px 0;
}

.order__text {
	font-family: "nunito_sansregular";
	max-width: 540px;
	margin: 0 auto;
	font-size: 16px;
	color: $gray;
	line-height: 24px;
	margin-bottom: 40px;
}

.form {
	max-width: 670px;
	margin: 0 auto;
}

.form__input-wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.form__input_half {
	width: 320px;
}

.form__input,
.form__textarea {
	padding: 15px 20px;
	border: 0;
	outline: none;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.5);
}

.form__input_whole {
	width: 100%;
}

.form__textarea {
	height: 170px;
	resize: none;
}

.message-erorr {
	color: #ff0000;
}

.message-success {
	color: #008000;
}

.form-btn {
	display: flex;
	justify-content: center;
}

.form__submit {
	outline: none;
	padding: 0 40px;
	background-color: #10c9c3;
	font-size: 14px;
	color: $white;
	text-transform: uppercase;
	transition: 0.3s;
	cursor: pointer;
	line-height: 60px;
	display: block;
	text-decoration: none;
	border-radius: 10px;
	border-color: transparent;

	&:hover {
		background-color: #1fada8;
	}
}
