.process {
	padding: 100px 0 70px 0;
}

.process__info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.process__title {
	margin: 0 0 40px 0;
	font-size: 30px;
	color: $black;
}

.process__text {
	max-width: 500px;
	margin: 0 0 60px 0;
	font-family: "nunito_sansregular";
	font-size: 16px;
	color: $gray;
	line-height: 24px;
}

.process__video {
	height: 570px;
	width: 100%;
}

.video {
	position: relative;
	height: 100%;
	width: 100%;
}

.video__btn {
	top: 55%;
	left: 50%;
	margin-left: -42px;
	position: absolute;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	cursor: pointer;
	background: url("../img/icons/arrow.png") center center no-repeat #10c9c3;
	transition: 0.3s;

	&:hover {
		transform: scale(1.2);
	}
}
