.process {
	height: 930px;
	padding-top: 100px;
	text-align: center;
}

.process__title {
	font-size: 30px;
	color: $black;
	margin-bottom: 40px;
}

.process__text {
	font-family: 'nunito_sansregular';
	width: 500px;
	margin: 0 auto;
	font-size: 16px;
	color: $gray;
	line-height: 24px;
	margin-bottom: 60px;
}

.process__video {
	height: 570px;
	width: 100%;
}

.video {
	position: relative;
	height: 100%;
	width: 100%;
}

.video__btn {
	top: 55%;
	left: 50%;
	margin-left: -42px;
	position: absolute;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	cursor: pointer;
	background: url("../img/icons/arrow.png") center center no-repeat #10c9c3;
}