.services {
	background-color: #f5f5f5;
	padding: 100px 0 50px 0;
}

.services__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 -50px 0;
}

.services__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 0 25%;
	margin: 0 0 50px 0;
}

.services__img {
	height: 45px;
	width: 45px;
	margin: 0 auto;
	background: center center no-repeat;
	margin-bottom: 30px;
}

.services__title {
	font-size: 14px;
	color: $black;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.services__text {
	font-family: "nunito_sansregular";
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: $gray;
	padding: 0 10px;
}

@each $services__img in (diamond, arc, phone, joy, plane, star-black, wand, bucket) {
	.services__img_#{$services__img} {
		background-image: url("../img/icons/#{$services__img}.png");
	}
}
