.services {
	height: 535px;
	background-color: #f5f5f5;
	padding-top: 100px;
}

.services__list {
	margin-left: -62.5px;
	font-size: 0;

	* {
		font-size: 14px;
	}
}

.services__item {
	width: 230px;
	display: inline-block;
	text-align: center;
	margin-left: 62.5px;
	margin-bottom: 55px;
}

.services__img {
	height: 45px;
	width: 45px;
	margin: 0 auto;
	background: center center no-repeat;
	margin-bottom: 30px;
}

.services__title {
	font-size: 12px;
	color: $black;
	text-transform: uppercase;
	margin-bottom: 20px;

}

.services__text {
	font-family: 'nunito_sansregular';
	font-size: 16px;
	line-height: 24px;
	color: $gray;
}

.services__img_diamond {
	background-image: url("../img/icons/diamond.png");
}

.services__img_arc {
	background-image: url("../img/icons/arc.png");
}

.services__img_phone {
	background-image: url("../img/icons/phone.png");
}

.services__img_joy {
	background-image: url("../img/icons/joy.png");
}

.services__img_plane {
	background-image: url("../img/icons/plane.png");
}

.services__img_star {
	background-image: url("../img/icons/star-black.png");
}

.services__img_wand {
	background-image: url("../img/icons/wand.png");
}

.services__img_bucket {
	background-image: url("../img/icons/bucket.png");
}