.services {
	min-height: 535px;
	background-color: #f5f5f5;
	padding-top: 100px;
}

.services__list {
	margin-left: -62.5px;
	font-size: 0;

	* {
		font-size: 14px;
	}
}

.services__item {
	width: 230px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-left: 62.5px;
	margin-bottom: 55px;
}

.services__img {
	height: 45px;
	width: 45px;
	margin: 0 auto;
	background: center center no-repeat;
	margin-bottom: 30px;
}

.services__title {
	font-size: 12px;
	color: $black;
	text-transform: uppercase;
	margin-bottom: 20px;

}

.services__text {
	font-family: 'nunito_sansregular';
	font-size: 16px;
	line-height: 24px;
	color: $gray;
}

@each $services__img in (diamond, arc, phone, joy, plane, star-black, wand, bucket) {
	.services__img_#{$services__img} {
		background-image: url("../img/icons/#{$services__img}.png");
	}
}