.testimonials {
	padding: 85px 0;
	background-color: #10c9c3;
	text-align: center;
}

.container {
	position: relative;
}

.testimonials__item {
	max-width: 900px;
	margin: 0 auto;
	color: $white;
}

.testimonials__blockquote {
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 30px;
}

.testimonials__author {
	font-size: 14px;
	text-transform: uppercase;
}

//Налаштування контролерів слайдера

.owl-dot {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #b0e8e6 !important;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	cursor: pointer;

	&:hover {
		background-color: #fff;
	}

	&.active {
		width: 10px;
		height: 10px;
		background-color: #fff !important;
	}
}

.owl-nav {
	display: none;
}

.owl-dots {
	margin-top: 75px;
}
