@media (max-width: 1210px) {
	.container {
		max-width: 960px;
	}

	.skills__left {
		padding: 160px 10px 0 10px;
	}

	.skills__info {
		max-width: 100%;
		float: none;
	}

	.skills__list {
		max-width: 100%;
	}

	.skills__line-first {
		width: 345px;
	}

	.skills__line-second {
		width: 414px;
	}

	.skills__line-third {
		width: 299px;
	}

	.services__list {
		margin-left: -20px;
	}

	.services__item {
		width: 220px;
		margin-left: 20px;
	}

	.contacts,
	.links,
	.socials {
		margin-left: 93px;
	}
}
