@media (max-width: 575.98px) {
	//fixed-btn********************
	.fixed-btn {
		right: 10px;
		width: 35px;
		height: 35px;
	}

	.fixed-btn__active {
		bottom: 10px;
	}

	//header********************

	.header__wrap {
		&::before {
			height: 55px;
		}
	}

	.banner__title {
		font-size: 36px;
	}

	.banner__text {
		font-size: 16px;
	}

	.banner__btn {
		text-align: center;
		line-height: 45px;
		padding: 0 30px;
	}

	//about********************

	.about {
		padding: 15px 0;
	}

	.about__title {
		font-size: 28px;
		margin: 0 0 15px 0;
	}

	.about__text {
		font-size: 14px;
		margin: 0 0 15px 0;
	}

	//skills********************

	.skills__title {
		font-size: 28px;
		margin: 0 0 15px 0;
	}

	.skills__left {
		padding: 15px;
	}

	.skills__item {
		margin: 0 0 15px 0;
	}

	//numbers********************

	.numbers {
		padding: 15px 0;
	}

	.numbers__list {
		margin: 0 0 -20px 0;
	}

	.numbers__item {
		flex: 0 0 100%;
		margin: 0 0 20px 0;
	}

	//work********************

	.work__item {
		flex: 0 0 100%;
	}

	.work__btn {
		text-align: center;
		line-height: 45px;
		padding: 0 30px;
	}

	//process********************

	.process {
		padding: 15px 0;
	}

	.process__title {
		font-size: 28px;
		margin: 0 0 15px 0;
	}

	.process__text {
		margin: 0 0 15px 0;
	}

	.video__btn {
		width: 44px;
		height: 44px;
		margin-top: 50px;
		margin-left: -22px;
	}

	//services********************

	.services {
		padding: 15px 0;
	}

	.services__list {
		margin: 0 0 -20px 0;
	}

	.services__item {
		flex: 0 0 100%;
		margin: 0 0 20px 0;
	}

	//testimonials********************

	.testimonials {
		padding: 15px 0;
	}

	.testimonials__list {
		.owl-dots {
			margin: 20px 0 0 0;
		}
	}

	.testimonials__blockquote {
		margin: 0 0 20px 0;
		font-size: 16px;
		line-height: 26px;
	}

	//clients********************

	.clients {
		padding: 15px 0;
	}

	//order********************

	.order {
		padding: 15px 0;
	}

	.order__title {
		font-size: 28px;
		margin: 0 0 15px 0;
	}

	.order__text {
		margin: 0 0 15px 0;
	}

	.form__input,
	.form__textarea {
		margin: 0 0 15px 0;
	}

	.form__submit {
		text-align: center;
		line-height: 45px;
		padding: 0 30px;
	}

	//footer********************
	.footer {
		padding: 15px 0;
	}

	.copyright,
	.contacts,
	.links,
	.socials {
		flex: 0 0 100%;
		margin: 0 0 20px 0;
	}

	.socials {
		margin: 0 0 0 0;
	}
}
