@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 15px;
	}

	//fixed-btn********************

	.fixed-btn {
		bottom: -50px;
		right: 30px;

		&:after {
			content: "";
			width: 8px;
			height: 8px;
		}
	}

	.fixed-btn__active {
		bottom: 30px;
	}

	//skills********************

	.skills__left {
		padding: 35px 15px;
	}

	.process__text {
		margin: 0 0 20px 0;
	}

	.video__btn {
		top: 50%;
		left: 50%;
		width: 60px;
		height: 60px;
		margin-top: 30px;
		margin-left: -30px;
	}

	//services********************

	.services__list {
		margin-left: 0;
	}

	.services__item {
		flex: 0 0 50%;
	}

	.services__img {
		margin-bottom: 10px;
	}

	.services__title {
		margin-bottom: 10px;
	}

	//testimonials********************

	.testimonials__blockquote {
		margin: 0;
		margin-bottom: 30px;
	}

	//order********************

	.order__text {
		width: 100%;
	}

	.form__input_half {
		flex: 0 0 100%;
	}

	//footer********************

	.copyright {
		max-width: 100%;
	}

	.copyright,
	.contacts,
	.links,
	.socials {
		flex: 0 0 50%;
		margin: 0 0 20px 0;
	}

	.links,
	.socials {
		margin: 0 0 0 0;
	}
}
